* {
    margin: 0px;
    padding: 0px;
    /* border: solid 2px red; */
  
}

a {
    text-decoration: none;
    color: var(--clr-light-seconday);
}

a:visited {
    text-decoration: none;
    color: var(--clr-light-seconday);
}

a:hover {
    color: var(--clr-accent);
}

:root {
    /* website colours */
    --clr-black: #000000;
    --clr-white: #ffffff;
    --clr-light: #E5E7Eb;
    --clr-light-seconday: #F9Faf8;
    --clr-hero: #1F2937;
    --clr-accent: #3882F6;

    /* universal sizing */
    --padding: 20px;
    --border-radius: 5px;
}

/* General Content */

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.section {
    padding: var(--padding);
    flex: 1;
}

button {
    height: 25px;
    min-width: 100px;
    border-radius: var(--border-radius);
    border-style: none;
    background-color: var(--clr-accent);
    color: var(--clr-light);
}

button:hover {
    background-color: #5aaef2;
    cursor: pointer;
}

h1 {
    font-weight: 900;
}

h2 {
    margin-bottom: 24px;
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

p {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Header & Navigation Section  */
.header {
    color: var(--clr-light);
    background-color: var(--clr-hero);
    padding: var(--padding);
    font-weight: 900;
    display: flex;
    align-items: center;


}

.logo {
    flex: 1;

}

.navlinks {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 18px;

}

li {
    text-decoration: none;
    color: var(--clr-light);
    font-size: 12px;
}

/* Hero Section */

.hero {
    color: var(--clr-light);
    background-color: var(--clr-hero);
    padding: var(--padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.left {
    flex: 1;
    max-width: 350px;
    
}

.img-placeholder {
    flex: 1;
    display: flex;
    max-width: 350px;
    height: 125px;
    color: var(--clr-light);
    background-color: #6d6d6d;
    text-align: center;
    padding: var(--padding);
    align-items: center;
    justify-content: center;

}

/* Information Section */

.information {
    display: flex;
    flex-direction: column;
    text-align: center;


}

.info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
}

.card-container p {
    font-size: 12px;
}


.card {

    flex-shrink: 0;
    flex-direction: row;
    height: 100px;
    width: 100px;
    border-radius: var(--border-radius);
    border: solid 2px;
    border-color: var(--clr-accent);
    margin-bottom: 24px;
}




/* Quote Section */

.quote-section {
    flex: 1;
    background-color: var(--clr-light-seconday);
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.quote-section h3 {
    text-align: right;
}

.quote {
    flex: 1;
    flex-direction: column-reverse;
    font-size: 24px;
    font-style: italic;
    

}

/* Call to Action Section  */

.call-to-action {
    flex: 1;
    display: flex;
    padding: 40px;


}

.cta-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: var(--clr-accent);
    border-radius: var(--border-radius);
    justify-content: space-around;
    align-items: center;
    color: var(--clr-light);
    padding: 30px;

}

.cta-wrapper button {
    border: solid 2px #E5E7Eb;
}

/* Footer Section */

.footer {
    display: flex;
    background-color: var(--clr-hero);
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
    min-height: 5vh;
}